<ion-header [translucent]="true" color="success">
  <ion-toolbar color="success">
    <ion-title>
      DATE CALC
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>

      <form (ngSubmit)="datesubmit()">

        <ion-item>
          <ion-label position="floating">From Date</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" max="2050" [(ngModel)]="indata.frmDate" name="frmDate">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">To Date</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" max="2050" [(ngModel)]="indata.toDate" name="toDate">
          </ion-datetime>
        </ion-item>
        <ion-button type=" submit" color="success" block>Calculate</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="iscalc">
    <ion-card-header style="text-align:center;font-size:large;" color="success">
      Date Difference
    </ion-card-header>
    <ion-row no-padding style="text-align:center;font-size:large;font-style:italic;">
      <ion-col>
        Years
      </ion-col>
      <ion-col>
        Months
      </ion-col>
      <ion-col>
        Days
      </ion-col>
    </ion-row>
    <ion-row no-padding style="text-align:center;font-size:large;font-weight:bold;">
      <ion-col>
        {{resultyears}}
      </ion-col>
      <ion-col>
        {{resultmonths}}
      </ion-col>
      <ion-col>
        {{resultdays}}
      </ion-col>
    </ion-row>

    <ion-card-header style="text-align:center;font-size:large;" color="success">
      Summary
    </ion-card-header>

    <ion-row no-padding style="text-align:center;font-size:large;font-style:italic;">
      <ion-col>
        Years
      </ion-col>
      <ion-col>
        Months
      </ion-col>
      <ion-col>
        Weeks
      </ion-col>
    </ion-row>
    <ion-row no-padding style="text-align:center;font-size:large;font-weight:bold;">
      <ion-col>
        {{ryears}}
      </ion-col>
      <ion-col>
        {{rmonths}}
      </ion-col>
      <ion-col>
        {{rweeks}}
      </ion-col>
    </ion-row>
    <ion-row no-padding style="text-align:center;font-size:large;font-style:italic;">
      <ion-col>
        Days
      </ion-col>
      <ion-col>
        Hours
      </ion-col>
      <ion-col>
        Minutes
      </ion-col>
    </ion-row>
    <ion-row no-padding style="text-align:center;font-size:large;font-weight:bold;">
      <ion-col>
        {{rdays}}
      </ion-col>
      <ion-col>
        {{rhours}}
      </ion-col>
      <ion-col>
        {{rminutes}}
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>