<ion-header [translucent]="true" color="success">
  <ion-toolbar color="success">
    <ion-title>
      DATE CALC
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="logForm()">
        <!-- <ion-item>
          <ion-label position="floating">Loan Amount</ion-label>
          <ion-input type="number" [(ngModel)]="indata.txtloanamt" name="txtloanamt"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Interest % (Annum)</ion-label>
          <ion-input type="number" [(ngModel)]="indata.txtint" name="txtint"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Loan Tenure (Month)</ion-label>
          <ion-input type="number" [(ngModel)]="indata.txtmonth" name="txtmonth"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fees & Charges</ion-label>
          <ion-input type="number" [(ngModel)]="indata.txtfees" name="txtfees"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tax %</ion-label>
          <ion-input type="number" [(ngModel)]="indata.txttax" name="txttax"></ion-input>
        </ion-item>
        <ion-button type="submit" color="success" block>Calculate</ion-button> -->
      </form>
    </ion-card-content>
  </ion-card>



</ion-content>