<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      BREAK UP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-template ngFor let-item [ngForOf]="payarray">
    <ion-card>
      <ion-row no-padding style="text-align:left;font-size:large;background-color:#2dd36f;color: #ffffff;">
        <ion-col>
          EMI
        </ion-col>

        <ion-col text-right style="text-align:right;font-size:large;background-color:#2dd36f;color: #ffffff;">
          {{ item.emicount }}
        </ion-col>
      </ion-row>

      <ion-row no-padding style="text-align:left;font-size:large;">
        <ion-col>
          Loan Principal
        </ion-col>

        <ion-col text-right style="text-align:right;font-size:large;">
          {{ item.principal }}
        </ion-col>
      </ion-row>

      <ion-row no-padding style="text-align:left;font-size:large;">
        <ion-col>
          Loan Interest
        </ion-col>

        <ion-col text-right style="text-align:right;font-size:large;">
          {{ item.interest }}
        </ion-col>
      </ion-row>
      <ion-row no-padding style="text-align:left;font-size:large;">
        <ion-col>
          Total Payment
        </ion-col>

        <ion-col text-right style="text-align:right;font-size:large;">
          {{ item.totalpay }}
        </ion-col>
      </ion-row>
      <ion-row no-padding style="text-align:left;font-size:large;">
        <ion-col>
          Interest Tax
        </ion-col>

        <ion-col text-right style="text-align:right;font-size:large;">
          {{ item.interesttax }}
        </ion-col>
      </ion-row>
      <ion-row no-padding style="text-align:left;font-size:large;color: red;">
        <ion-col>
          EMI Amount
        </ion-col>
  
        <ion-col text-right style="text-align:right;font-size:large;">
          {{ item.emiamount }}
        </ion-col>
      </ion-row>

      <ion-row no-padding style="text-align:left;font-size:large;">
        <ion-col>
          Loan Balance
        </ion-col>

        <ion-col text-right style="text-align:right;font-size:large;">
          {{ item.balance }}
        </ion-col>
      </ion-row>
      <ion-row no-padding style="text-align:left;font-size:large;">
        <ion-col>
          Loan Paid %
        </ion-col>

        <ion-col text-right style="text-align:right;font-size:large;">
          {{ item.loadpaid }}
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-template>


  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="sharebreakup()">
    <ion-fab-button color="success">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>